<html>
	<head>
		<title></title>
	</head>
	<body>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Status</td>
            <td>Priority</td>
            <td>Rank</td>
            <td>Assigned To</td>
            <td>History</td>
            <td>Item Link</td>
            <td>Resolve</td>
        </tr>

        @foreach (var item in @Model)
        {
            <tr class="bug-data">
                <td class="id">@item.Id</td>
                <td class="name">@item.Name</td>
                <td class="status">@item.Status</td>
                <td class="priority">@item.Priority</td>
                <td class="rank">@item.Rank</td>
                <td class="assignedTo">
                    @*<form action="team/@item.AssignedTo.Id/bugs" method="post">
                        <input type="hidden" name="bugId" value="@item.Id" />
                        <input type="text" name="teamMemberId" value="" />
                        <input type="text" name="comments" value="" />
                        <input type="submit" value="Assign" />
                    </form>*@
                    @LinkFromEntity(item.AssignedTo, "assignedTo")
                </td>
                <td>@LinkFromEntity("history", item, "history")</td>
                <td>@LinkFromEntity(item, "self")</td>
                <td>
                    <form class="resolved" action="/bugs/resolved" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        Comments <input type="text" name="comments" />
                        <input type="submit" value="Resolve" />
                    </form>
                </td>
            </tr>
        }
    </table>
    </body>
</html>